<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Fevin blog</a>
      <a href="admin/api/articulos">API articles</a>
      <a href="/registro">Sign Up!</a>
      <a href="/login">Sign in</a>
      <a href="admin/newArticle">New article</a>
      <a href="/admin">Admin</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>
  <div class="imgMain"></div>
</header>
